* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/*First section content - including header & first content*/

.first-section {
    background-image: url(image/backgroundimage.jpg);
    background-size: cover;
    background-position: center;
   
}

.header {
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    color: #F9FAF8  
}

a {
    text-decoration: none;
    list-style: none;
    color: white;
}

.left-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-section .logo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 10px;
}

.right-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-section ul {
    display: flex;
    gap: 30px;
}

ul li {
    list-style: none;
    color: white;
}   

.first-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    padding: 100px 0; 
    flex-wrap: wrap;
}

.first-content .first-left-content {
    display: flex;
    flex-direction: column;
    flex-basis: 600px;
}

.first-content .first-left-content .main-text {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.first-content .first-left-content .second-text {
    font-size: 18px;
    color: #e5e7eb;
    padding-bottom: 10px;
}

.first-left-content .sign-up-button {
    width: 100px;
    border-radius: 5px;
    border-style: none;
    padding: 5px 12px; 
    background-color: #3882f6;
    color: white;
    font-size: 18px;
}

.first-right-content img {
    width: 600px;
    height: 300px;
}

/*Second section*/
.second-section {
    padding-bottom: 100px;
    background-image: url(image/ocean.jpg);
    background-size: cover;
    background-position: center;
}

.information {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    padding: 25px;    
}

.card-container {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
}

.card-container .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-basis: 150px;
    font-size: 18px;
    gap: 10px;  
}

.card img {
    width: 150px;
    height: 200px;
    object-fit: fill;
    overflow: hidden;
    border: 4px solid #3882f6;
    border-radius: 5px;
}

/*Third Section*/

.third-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding: 100px;
}

.quote-container {
    max-width: 1000px;
}

.quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    max-width: 1000px;
    margin-bottom: 10px;
}

.quote-citation {
    display: flex;
    justify-content: end;
    align-items: center;
    max-width: 1000px;
    font-weight: bold;
    font-size:25px;   
}

/*Fourth Section*/
.fourth-section {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.fourth-section .fourth-content-container {
    display: flex;
    gap: 150px;
    border: 2px none;
    border-radius: 5px;
    padding: 40px 100px;
    background-color: #3882f6;
}

.fourth-content-container .bigger-text {
    font-size: 20   px;
    color: white;
    font-weight: bold;
}

.fourth-content-container .smaller-text {
    color: whitesmoke;
    font-weight:100;
}

.fourth-content-container .sign-up-button {
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: 2px solid white;
    border-radius: 7px;
    background-color: #3882f6;
    padding: 0 30px;
}

/*Footer*/
.footer {
    background-color:#1f2937 ;
    text-align: center;
    color: white;
}

.footer-text {
    padding: 30px;
}






